<tr id="<%= product._id %>" class="border-b hover:bg-orange-100 bg-gray-100">
    <td class="p-3 px-5"><%= quantity %></td>
    <td class="p-3 px-5"><%= product.title %></td>
    <td class="p-3 px-5"><%= product.description %></td>
    <td class="p-3 px-5"><%= product.price %></td>
    <td class="p-3 px-5"><%= product.stock %></td>
    <td class="p-3 px-5"><%= product.code %></td>
    <td class="p-3 px-5"><%= product.status %></td>
    <td class="p-3 px-5"><%= product.category %></td>
</tr>
