<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <th
        scope="row"
        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
    >
        <%= product.title %>
    </th>
    <td class="px-6 py-4"><%= product.description %></td>
    <td class="px-6 py-4"><%= product.price %></td>
    <td class="px-6 py-4"><%= product.stock %></td>
    <td class="px-6 py-4"><%= product.code %></td>
    <td class="px-6 py-4"><%= product.status %></td>
    <td class="px-6 py-4"><%= product.category %></td>
    <td class="p-3 px-5 flex justify-end">
        <button
            id="productButton"
            onclick="addProductToCart('<%= cart %>', '<%= product._id %>')"
            class="text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
        >
            Add to cart
        </button>
    </td>
</tr>
